PORT=3000
MONGODB_URI="mongodb://reindrarayyaarabbani_db_user:rahiilia000@ac-62r3zyz-shard-00-00.0jxwjhk.mongodb.net:27017,ac-62r3zyz-shard-00-01.0jxwjhk.mongodb.net:27017,ac-62r3zyz-shard-00-02.0jxwjhk.mongodb.net:27017/?ssl=true&replicaSet=atlas-etvzh3-shard-0&authSource=admin&appName=Gamelab-MongoDB/todo_api_db"
NODE_ENV=development
JWT_SECRET=isi-dengan-secret-kamu-sendiri
JWT_EXPIRES_IN=1d
EXTERNAL_API_KEY=isi-dengan-api-key-kamu-sendiri